<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.taobao.firstbundle"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>
    <application android:name="com.taobao.firstbundle.FirstBundleApplication">
        <activity android:name="com.taobao.firstbundle.FirstBundleActivity"
            >
        </activity>
    </application>
</manifest>
