<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taobao.secondbundle">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.taobao.secondbundle.SecondBundleActivity"></activity>
        <meta-data android:name="atlas.view.intent.action.SECOND_RICH" android:value="com.taobao.secondbundle.MyRichFrameLayout"/>
        <meta-data android:name="atlas.fragment.intent.action.SECOND_FRAGMENT" android:value="com.taobao.secondbundle.MyRichFragment"/>
        <meta-data android:name="atlas.transaction.intent.action.SECOND_TRANSACTION" android:value="com.taobao.secondbundle.SecondBundleCaculator"/>

    </application>

</manifest>