<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.taobao.atlas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <application>
        <service
            android:name="com.taobao.android.runtime.Dex2OatService"
            android:process=":dex2oat" />
        <activity
            android:name="android.taobao.atlas.remote.RemoteActivityManager$EmbeddedActivity">
            </activity>

    </application>



</manifest>
