<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.taobao.demo"
    xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="1"
          android:versionName="1">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23"/>

    <application tools:replace="android:name" android:label="@string/app_name" android:icon="@drawable/app_launcher"
        android:theme="@style/AppTheme"
        android:name="com.taobao.demo.DemoApplication" >

        <activity android:name="com.taobao.demo.WelcomActivity"

                  android:label="AtlasDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
