<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.taobao.atlas.complex.maindex">

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
